.custom-dropdown-menu {
  background-color: grey !important;
}

.custom-dropdown-item {
  background-color: grey !important;
  color: white !important;
}

.custom-dropdown-item:hover {
  background-color: darkgrey !important;
  color: white !important;
}

.logout-item {
  color: red !important;
}

.logout-item:hover {
  color: darkred !important;
}