.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 20px;
}

.card {
  width: 18rem; /* Lebar kartu */
  box-shadow: 0 2px 5px rgba(0,0,0,0.15); /* Bayangan untuk kartu */
}

.view-menu-button,
.btn-disabled {
  height: 40px; /* Atur tinggi tetap untuk tombol */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-disabled {
  background-color: #D4A373 !important;
  color: white !important;
  border: 2px solid #D4A373 !important;
  cursor: not-allowed !important;
}

.view-menu-button:hover {
  background-color: #D4A373 !important;
  color: white !important;
}



.card-img-top {
  width: 100%; /* Lebar gambar 100% dari elemen induknya */
  height: auto; /* Tinggi otomatis untuk menjaga rasio aspek */
  aspect-ratio: 1 / 1; /* Menetapkan rasio aspek 1:1 */
  object-fit: cover; /* Pastikan gambar menutupi area dengan baik */
}

.card-body {
  padding: 15px; /* Padding untuk isi kartu */
}

.card-title {
  font-size: 1.25rem; /* Ukuran font untuk judul */
  margin-bottom: 0.5rem; /* Jarak antara judul dan teks */
  font-family: 'Cormorant Infant', serif; /* Terapkan font Cormorant Infant */
  font-weight: bold; /* Membuat teks menjadi tebal */
}

.card-text {
  font-size: 0.9rem; /* Ukuran font untuk teks */
  color: #666; /* Warna teks */
  font-family: 'Cormorant Infant', serif; /* Terapkan font Cormorant Infant */
}

.btn-primary {
  background-color: #007bff; /* Warna latar belakang untuk tombol */
  border: none; /* Menghilangkan border */
}